:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desatured-blue:  hsl(224, 23%, 55%);
    --dark-blue:  hsl(223, 47%, 23%);

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.main-container{
    width: auto;
    min-width: 320px;
    height: 100vh;
    padding: 30px 15px;
    background-color: var(--pale-blue);
}
.main-container--section{
    width:90%;
    min-width: 300px;
    max-width: 355px;
    height: auto;
    margin: 25px auto;
    background-color: white;
    border-radius: 20px;
    font-family: 'Red Hat Display', sans-serif;
}
.section-img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.section-info{
    width: 90%;
    margin: 25px auto;
    text-align: center;
}
.section-info--title{
    font-weight: 900;
    font-size: 2.0rem;
}
.section-info--sentence{
    font-size: 1.6rem;
    margin-top: 15px;
    color: var(--desatured-blue);
}
.section-plan{
    width: 80%;
    min-width: 280px;
    height: 70px;
    margin: 15px auto;
    background-color: var(--very-pale-blue);
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.section-plan .plan--music-logo{
    display: inline-block;
    margin: 0 15px;
    width: 48px;
    height: 48px;
    background-image: url('../images/icon-music.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-plan .plan-div{
    margin-left: 10px;
}
.plan-div .plan--name{
    font-size: 1.4rem;
    font-weight: 600;
}
.plan-div .plan--price{
    font-size: 1.3rem;
}
.section-plan .plan--change{
    margin-left: 50px;
    font-size: 1.4rem;
    font-weight: 600;
}
.section-plan .plan--change:hover{
    text-decoration: none;
    color: var(--dark-blue);
}

.button--proceed-payment{
    width: 80%;
    min-width: 280px;
    height: 50px;
    margin: 15px auto;
    background-color: var(--bright-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
   }
.button--proceed-payment:hover{
    background-color: var(--dark-blue);
}
.section-cancel{
    width: 80%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
}
.section-cancel .cancel--order{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--desatured-blue);
    text-decoration: none;
}
.section-cancel .cancel--order:hover{
    color: var(--dark-blue);
}
